*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family:sans-serif;
}
/*
.container{
  margin: 0;
  padding: 0 5%;
} */
header{
  background-color: #0d325a;
  position: relative;
}
header::after{
  content: "";
  display: table;
  clear: both;
}

li:nth-child(-n+6){
  float:left;
  list-style: none;
}

li:nth-child(n+6){
  float:right;
  list-style: none;
}

li{
  margin-: 5px;
  padding: 5px;
}

 li a img{
  width: 100px;
  height: auto;

}
a{
  font-size: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;s
}
li:nth-child(-n+6) a:hover{
  color: orange;
}
button{
  font-size: 10px;
  padding: 10px;
  border-radius: 10%;
}
#login{
  border: 1px solid blue;
  background-color: inherit;
  color: white;
  text-transform: uppercase;
}

#piano{
  background-color: green;
  color: white;
  text-transform: uppercase;
}
section{
  height: 200px;
  background-color: white;
  border-bottom: 1px solid black;
}
#primasez{
  background-color: #0d325a;
}

footer{
  height: 100px;
  background-color: #0d325a;
}
