*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family:sans-serif;
}
/*
.container{
  margin: 0;
  padding: 0 5%;
} */
header{
  background-color: blue;
  position: relative;
}
header::after{
  content: "";
  display: table;
  clear: both;
}

li:nth-child(-n+6){
  float:left;
  list-style: none;
}

li:nth-child(n+6){
  float:right;
  list-style: none;
}

li{
  margin: 20px;
  padding: 20px;
}
a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
a:hover{
  color: orange;
}


section{
  height: 200px;
  background-color: white;
  border-bottom: 1px solid black;
}


footer{
  height: 100px;
  background-color: blue;
}
